.friend {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.friend__avatar {
    width: 50px;
    border-radius: 35%;
}

.g-avatar {
    width: 70px;
    border-radius: 35%;
}
